*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
   /*  background: #000; */
   
    min-height: 200vh;
   justify-content: flex-end;
    align-items: center;
    flex-direction: column; 
    box-sizing: border-box;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000; 
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size:1.75em;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-size: 20px;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-size: 20px;
    width: 100%;
}
header ul li a:hover{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-size: 20px;
    border-bottom: 1px solid white;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(image/129490377_382453516316023_4307812199838706183_n.jpg);
    background-size: cover;
    background-image:linear-gradient(rgba(0 ,0 ,0 , 0.6),rgba(0,0,0,0.6)), url(image/129490377_382453516316023_4307812199838706183_n.jpg); 
}
.main-content{
    width: 1180px;
    position: absolute;
    top: 270px;
    left:80px;
    color: #fff;
}
.main-content h1{
    word-spacing: 2px;
    letter-spacing: 2px;
    font-size: 200%;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s,color 0.2s;
}
.btn-full{
 background-color: transparent;
 color: white;
 margin-right: 15px;
 border: 1px solid  white;
 letter-spacing: 2px;
 margin-top: 15px;
}
.btn-full:hover{
    background-color: transparent;
    color: black;
    margin-right: 15px;
    border: 1px solid  white;
    letter-spacing: 2px;
    margin-top: 15px;
    background-color: white;
   }
/*.colorchange{
    animation: colorchangethapa 1s infinite;
}
@keyframes colorchangethapha{
    0%{color:red;}
    25%{color:black;}
    50%{color:white;}
    100%{color:black;}
}*/
header.sticky{
    padding: 5px 100px;
    background: white;
}
header.sticky .logo,
header.sticky ul li a {
    color: #000;
}
.sale{
    width: 100%;
}
.benefits{
    margin-top: 25px;
}
.benefits img{
 width: 470px;
 height: 250px;
 margin-bottom:3em;
}
.benefits h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing:1px;
    font-size: 120%;
}
.benefits p{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   word-spacing:1px;
   font-size: 100%;
}
.banner2 img{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.text-content{
    text-align: center;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 130%;
    word-spacing: 1px;
    margin-bottom: 2em;
}
table tr td img{
  padding:4px;
  width: 100%;
}
#calendar-size tr td img{
    width: 100%;
    height: auto;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 50px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .sec{
    margin-right:30px;
}
footer .container .sec.aboutus{
    width: 40%;
}
footer .container  .sec.aboutus h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container  h2:before{
    content:'';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}


footer  p{
    color: #999;
}

footer .container  .sec.aboutus span{
    color: white;
}
.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color:white;
}
.sci li a:hover{
    background: #f00;
}
.sci li a .fa{
    color: #fff;
    font-size:20px;
}
